<h1>Welcome <%=current_user.email%></h1>
<%= link_to "Create new chatroom", new_chatroom_path%>
<%@chats.each do |chat|%>
  <p><%= link_to chat.name , controller: "chats", action: "show", id: chat.id%></p>
<% end%>